body {
  font-family: Arial;
  max-width: 420px;
  margin: 0;
}
header {
  background: #1f2e24;
  color: white;
  padding: 20px;
}
header button {
  background: #3b4b40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
}
nav {
  padding: 10px;
}
nav button {
  background: #efe9dd;
  border: none;
  padding: 10px;
  border-radius: 20px;
}
#mapa {
  background: #e5ebe4;
  height: 200px;
  padding: 10px;
}
main {
  padding: 20px;
}
.caixa {
  background: #efe9dd;
  border-radius: 16px;
  padding: 10px;
  display: inline-block;
  width: 28%;
}
#verde {
  background: #2f4a34;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 30px;
}
#branco {
  background: white;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 30px;
}