body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #050605;
    color: #d3e2d4;
}

header {
    display: flex;
    align-items: center;
    background-color: #c9ddd0;
    color: black;
    padding: 18px 25px;
}

.voltar {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.topo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.topo h1 {
    margin: 0;
    font-size: 27px;
}

main {
    padding: 20px;
}

.busca {
    display: flex;
    align-items: center;
    background-color: black;
    border: 1px solid #333;
    padding: 12px;
    border-radius: 15px;
}

.busca span {
    margin-right: 10px;
}

.busca input {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
}

.filtros {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
}

.filtros button {
    margin-right: 8px;
    padding: 8px 12px;
    background-color: #211a09;
    color: #d3e2d4;
    border: none;
    border-radius: 10px;
}

.filtros .ativo {
    background-color: #b9d8c3;
    color: black;
}

.resultado {
    display: flex;
    align-items: center;
    background-color: #191408;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.icone {
    margin-right: 15px;
}

.texto {
    width: 85%;
}

.texto h3 {
    margin: 0;
}

.texto p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    color: #a29b8d;
}

.seta {
    font-size: 24px;
}