<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auditórios - Localiza PUC</title>
    <link rel="stylesheet" href="../static/css/pesquisa-auditorios.css">
</head>


<body>
    <header>
        <a href="search.html" class="voltar">Voltar</a>
        <div class="topo">
            <span class="logo">⌂</span>
            <h1>Localiza<br>PUC</h1>
        </div>
    </header>

<main>
    <div class="busca"
    <span>⌕</span>
    <input type="text" placeholder="Buscar auditório, prédio ou código" value = "Auditórios">
</div>

<div class="filtros">
    <a href="search.html"><button>Todos</button></a>
    <a href="search.html"><button>Salas</button></a>
    <a href="search.html"><button>Laboratórios</button></a>
    <a href="pesquisa-auditorios.html"><button class="ativo">Auditórios</button></a>
    <a href="search.html"><button>Prédios</button></a>
</div>

h2>Sugestões</h2>

<a href="rdc.html">
            <div class="resultado">
                <div class="icone">▭</div>
                <div class="texto">
                    <h3>Auditório RDC</h3>
                    <p>Prédio RDC · 2º andar · Auditório</p>
                </div>
                <span class="seta">›</span>
            </div>
        </a>

        <a href="HTML Tela Prédio IAG.html">
            <div class="resultado">
                <div class="icone">▭</div>
                <div class="texto">
                    <h3>Auditório IAG</h3>
                    <p>Prédio IAG · 2º andar · Auditório</p>
                </div>
                <span class="seta">›</span>
            </div>
        </a>

        <a href="kennedy.html">
            <div class="resultado">
                <div class="icone">▭</div>
                <div class="texto">
                    <h3>Auditório Kennedy</h3>
                    <p>Prédio Kennedy · 2º andar · Auditório</p>
                </div>
                <span class="seta">›</span>
            </div>
        </a>

    </main>

</body>

</html>














</body>

