<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Busca - Localiza PUC</title>
    <link rel="stylesheet" href="../static/css/Pesquisa-Sala-CSS.css">
</head>
<body>
    <div class="pagina">
        <div class="topo">
            <a href="home.html">← Voltar</a>
            <h1>Localiza PUC</h1>
        </div>

        <input type="text" placeholder="Buscar sala, prédio ou código">
        <p class="filtros">
            <a href="Pesquisa-Sala-HTML.html">Todos</a>
            <a href="Pesquisa-Sala-HTML.html">Salas</a>
            <a href="Pesquisa-Sala-HTML.html">Laboratórios</a>
            <a href="Pesquisa-Sala-HTML.html">Auditórios</a>
            <a href="Pesquisa-Sala-HTML.html">Prédios</a>
        </p>
        <h2>Sugestões</h2>

        <a href="HTML Tela Prédio Leme.html">
        <div class="sala">
            <h3>Sala L100</h3>
            <p>Prédio Leme • Térreo • Sala</p>
        </div>
     </a>
    <a href="HTML Tela Prédio Leme.html">
        <div class="sala">
            <h3>Sala L340</h3>
            <p>Prédio Leme • 2º andar • Sala</p>
        </div>
        </a>
        <a href="rdc.html">
        <div class="sala">
            <h3>Sala 402 — Bloco RDC</h3>
            <p>Prédio RDC • 3º andar • Sala</p>
        </div>
        </a>
        <a href="kennedy.html">
        <div class="sala">
            <h3>Biblioteca Kennedy</h3>
            <p>Prédio Kennedy • Térreo • Sala</p>
        </div>
        </a>
        <a href="Mapa-HTML.html">
        <div class="sala">
            <h3>Atendimento ao Aluno</h3>
            <p>Prédio da Reitoria • Térreo • Sala</p>
        </div>
        </a>
    </div>
</body>
</html>
